/* MARK: HEADER HERO */
.header {
  width: 100%;
  height: 70vh;
  position: relative;
}

.header .nav-buttons {
  width: 92%;
  height: 100%;
  position: absolute;
  left: 4%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2.5rem;
  margin: 0 auto;
  color: var(--PRIMARY-BLACK);
  opacity: 0.5;
  z-index: 9;
}

.header .nav-dots {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  bottom: 3rem;
  z-index: 9;
}

.header .nav-dots > div:first-child {
  background: var(--PRIMARY-BLACK);
  opacity: 1;
}

.header .nav-dots .dot {
  background: var(--PRIMARY-BLACK);
  opacity: 0.5;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin: 0 0.3rem;
}

.header .container .content {
  width: 35vw;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.header .container .content h1 {
  color: var(--PRIMARY-BLUE);
  font-size: 3.6rem;
  line-height: 4rem;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 1rem;
}

.header .container .content h1 span {
  color: var(--PRIMARY-GREEN);
}

.header .container .content p {
  font-size: 1.2rem;
  line-height: 2rem;
  margin-bottom: 1.6rem;
}

.header .container .content a {
  font-size: 1.2rem;
}

.header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* MARK: SECTION FEATURED */
.section-featured {
  width: 100%;
  height: 50vh;
  background: var(--PRIMARY-BLUE);
}

.section-featured .container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  padding: 6.4rem 2rem;
}

.section-featured .card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--PRIMARY-BLUE-DARK);
}

.section-featured .card .icon {
  font-size: 3rem;
}

.section-featured .card .text-col {
  width: 100%;
  margin: 0 2rem;
  font-size: 0.9rem;
}

.section-featured .card .fa-arrow-right {
  font-size: 1.5rem;
}

/* MARK: SECTION ABOUT */
.section-about {
  width: 100%;
  height: 45vh;
  background: var(--PRIMARY-WHITE);
}

.section-about .container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  align-items: center;
}

.section-about .left {
  width: 100%;
  height: 100%;
}

.section-about .left img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 5rem;
}

.section-about .right h1 {
  text-transform: capitalize;
  color: var(--PRIMARY-GREEN);
}

.section-about .right p {
  margin-bottom: 2rem;
}

/* MARK: SECTION INFO */
.section-info {
  width: 100%;
  height: 55vh;
  background-color: var(--PRIMARY-GREEN);
}

.section-info .container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section-info .container > *:first-child {
  grid-column: 1 / span 5;
  text-align: center;
  font-size: 1.2rem;
  color: var(--PRIMARY-WHITE);
}

.section-info .container .card {
  margin-top: -10rem;
}

.section-info .card {
  width: 100%;
  height: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1rem;
}

.section-info .card img {
  width: 100%;
  height: 80%;
  object-fit: contain;
  align-self: center;
}

.section-info .card h2 {
  height: 10%;
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 500;
  display: flex;
  align-items: center;
}

/* MARK: SECTION CHAT */
.section-chat {
  width: 100%;
  height: 70vh;
  background: #f3f3f3;
}

.section-chat .container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  position: relative;
}

.section-chat .left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-chat .left h1 {
  color: var(--PRIMARY-GREEN);
  margin-bottom: 0.3rem;
}

.section-chat .left p {
  margin-bottom: 1rem;
  width: 80%;
}

.section-chat .left .btn {
  margin-bottom: 1.5rem;
  align-self: flex-start;
}

.section-chat .left img {
  width: 90%;
  object-fit: contain;
}

.section-chat .right {
  position: absolute;
  height: 95%;
  right: 2rem;
  bottom: 0;
}

.section-chat .right img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* MARK: SECTION-ARTICLE-HEADER */
.section-article-header {
  width: 100%;
  height: 80vh;
  background: var(--PRIMARY-WHITE);
}

.section-article-header .container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3rem;
  align-items: center;
  justify-content: center;
}

.section-article-header img {
  width: 100%;
  object-fit: contain;
}

.section-article-header h1 {
  text-transform: capitalize;
  font-size: 3rem;
  line-height: 3.2rem;
  font-weight: 700;
  color: var(--PRIMARY-BLUE-DARK);
}

.section-article-header p {
  text-transform: capitalize;
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-weight: 400;
  margin: 1rem 0 2rem 0;
}

/* MARK: SECTION-ARTICLE */
.section-article {
  width: 100%;
  height: 80vh;
  background: var(--PRIMARY-WHITE);
}

.section-article .container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  align-items: center;
  justify-content: center;
}

.section-article .container > *:first-child {
  grid-column: 1 / span 4;
}

.section-article .header {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -20%;
}

.section-article .header h1 {
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 700;
}

.section-article .container .card {
  width: 100%;
  height: 60%;
  padding: 0.5rem;
  background: transparent;
}

.section-article .container .card img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}

.section-article .container .card small {
  color: var(--GRAY-500);
  text-transform: capitalize;
}

.section-article .container .card h3 {
  margin-bottom: 0.2rem;
  color: var(--PRIMARY-GREEN);
}

.section-article .container .card p {
  margin-bottom: 2rem;
}

/* MARK: SECTION TESMONIAL */
.section-testimonial {
  width: 100%;
  height: 65vh;
  /* background: #f3f3f3; */
  background: var(--PRIMARY-GREEN);
}

.section-testimonial .container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  column-gap: 3rem;
  padding: 0 10rem;
}

.section-testimonial .card {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  position: relative;
}

.section-testimonial .card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  z-index: 2;
}

.section-testimonial .card .quote {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 5.5rem;
  color: rgba(0, 0, 0, 0.1);
}

.section-testimonial .card .stars {
  color: var(--COLOR-YELLOW);
  margin: 1rem 0 0.5rem 0;
  font-size: 0.8rem;
}

.section-testimonial .card .text {
  text-align: center;
  font-size: 0.8rem;
}

.section-testimonial .card .text {
  text-align: center;
}

.section-testimonial .card .text h3 {
  color: var(--PRIMARY-GREEN);
  text-transform: capitalize;
}

.section-testimonial .card .text h4 {
  text-transform: capitalize;
  color: var(--PRIMARY-BLUE);
  margin: 0.1rem 0 0.3rem 0;
  font-weight: 500;
}
