/* MARK: HEADER HERO */
.header {
  width: 100%;
  height: 70vh;
  background: rebeccapurple;
}

.header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* MARK: SECTION FEATURED */
.section-featured {
  width: 100%;
  height: 50vh;
  background: var(--PRIMARY-BLUE);
}

.section-featured .container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  padding: 6.4rem 2rem;
}

.section-featured .card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--PRIMARY-BLUE-DARK);
}

.section-featured .card .icon {
  font-size: 3rem;
}

.section-featured .card .text-col {
  width: 100%;
  margin: 0 2rem;
  font-size: 0.9rem;
}

.section-featured .card .fa-arrow-right {
  font-size: 1.5rem;
}

/* MARK: SECTION ABOUT */
.section-about {
  width: 100%;
  height: 45vh;
  background: var(--PRIMARY-WHITE);
}

.section-about .container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  align-items: center;
  padding: 0 2rem;
}

.section-about .left {
  width: 100%;
  height: 100%;
}

.section-about .left img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 5rem;
}

.section-about .right h1 {
  text-transform: capitalize;
  color: var(--PRIMARY-GREEN);
}

.section-about .right p {
  margin-bottom: 2rem;
}

/* MARK: SECTION INFO */
.section-info {
  width: 100%;
  height: 80vh;
  background-color: var(--PRIMARY-GREEN);
}

/* MARK: SECTION CHAT */
.section-chat {
  width: 100%;
  height: 70vh;
  background: #f3f3f3;
}

.section-chat .container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  position: relative;
  padding: 0 2rem;
}

.section-chat .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-chat .left h1 {
  color: var(--PRIMARY-GREEN);
  margin-bottom: 0.3rem;
}

.section-chat .left p {
  margin-bottom: 1rem;
}

.section-chat .left .btn {
  margin-bottom: 1rem;
  display: block;
  align-self: flex-start;
}

.section-chat .left img {
  width: 115%;
  object-fit: contain;
}

.section-chat .right {
  position: absolute;
  height: 90%;
  right: 2rem;
  bottom: 0;
}

.section-chat .right img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* MARK: SECTION BLOG */
.section-blog {
  width: 100%;
  height: 80vh;
  background-color: var(--PRIMARY-WHITE);
}
